version: '3'

services:
  web:
    build: .
    command: daphne -b 0.0.0.0 -p 8000 chat_project.asgi:application
    restart: always
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
    env_file:
      - .env
    depends_on:
      - redis

  redis:
    image: redis:alpine
    restart: always

  nginx:
    image: nginx:latest
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - static_volume:/app/staticfiles
      - ./media:/app/media
    depends_on:
      - web

volumes:
  static_volume:
